In [47]:
print(1+2)

3

In [ ]:
num = int(input())
if num>0:
    print("no is positive")
    if num%2==0:
        print("num is even")
    else:
        print("num is odd")
else:
    print("num is negative")

In [ ]:
num1 = int(input())
num2 = int(input())
operation = input("enter operator +,-,*,/,%")

if operation== "+":
    print(num1+num2)
elif operation== "-":
    print(num1-num2)
elif operation== "*":
    print(num1*num2)
elif operation== "/":
    if num2==0:
        print("num2 cannot be zero")
    else:
        print(num1/num2)
elif operation=="%":
    print(num2%num1)
else:
    print("invalid input")

invalid input

In [ ]:
## sum of n natural number

num = int(input("enter the number"))
sum = 0
for i in range(1,num+1):
    sum = sum +i
print(sum)

15

In [ ]:
## sum of n natural number

num = int(input("enter the number"))
sum = 0
var = 1
while var<num+1:
    sum = var+sum
    var=var+1
print(sum)

6

In [ ]:
## prime number range including start and last number

num1 = int(input())
num2 = int(input())
for i in range(num1, num2):
    if(i>1):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

####LIST
List are ordered mutable collection of items\n
they can contains items of different datatypes

In [24]:
######CREATING THE LIST   LISTNAME = []
student =["harsh","baghel", 2200321540037, "kc block","cseds" , "ABES"]
print(type(student))
print(student)

<class 'list'>
['harsh', 'baghel', 2200321540037, 'kc block', 'cseds', 'ABES']

In [5]:
######ACCESSING THE LIST   LISTNAME = [INDEX]
student =["harsh","baghel", 2200321540037]
print(type(student))
print(student[2])

<class 'list'>
2200321540037

In [7]:
### MODIFYING THE LIST
student[0]= "arnav"
print(student)

['arnav', 'baghel', 2200321540037]

In [ ]:
##LIST METHOD
# append add the element in the end
student.append("ABES")
print(student)

['arnav', 'baghel', 2200321540037, 'ABES', 'ABES']

In [21]:
#insert the element at any particular index
student.insert(2,"kc block")
print(student)

['arnav', 'kc block', 'kc block', 'baghel', 2200321540037]

In [22]:
#remove the element first occurance of an element
student.remove("ABES")
print(student)

ValueError: list.remove(x): x not in list

In [ ]:
#remove and return the last element
popstudent=student.pop()
print(popstudent)

ABES

In [31]:
# for getting the idex of any value
index= student.index(2200321540037)
print(index)

2

In [37]:
#add and count the element
student.insert(1, "harsh")
count=student.count("harsh")
print(count)
print(student)

4
['harsh', 'harsh', 'harsh', 'harsh', 'baghel', 2200321540037, 'kc block', 'cseds']

In [40]:
#sort and reverse the List
# student.remove(2200321540037)
student.sort()
print(student)
student.reverse()
print(student)

['baghel', 'cseds', 'harsh', 'harsh', 'harsh', 'harsh', 'kc block']
['kc block', 'harsh', 'harsh', 'harsh', 'harsh', 'cseds', 'baghel']

In [41]:
student.clear

SLICING THE LIST

In [42]:
num = [1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

#3,4,5
#1,2,3,4,5
#6,7,8,9,10
#1,3,5,7,9

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
for i in num :
    print(i)

TypeError: 'list' object cannot be interpreted as an integer