In [9]:
print(1+2)

3

In [10]:
num = int(input())
if num>0:
    print("no is positive")
    if num%2==0:
        print("num is even")
    else:
        print("num is odd")
else:
    print("num is negative")

no is positive
num is odd

In [11]:
num1 = int(input())
num2 = int(input())
operation = input("enter operator +,-,*,/,%")

if operation== "+":
    print(num1+num2)
elif operation== "-":
    print(num1-num2)
elif operation== "*":
    print(num1*num2)
elif operation== "/":
    if num2==0:
        print("num2 cannot be zero")
    else:
        print(num1/num2)
elif operation=="%":
    print(num2%num1)
else:
    print("invalid input")

invalid input

In [12]:
## sum of n natural number

num = int(input("enter the number"))
sum = 0
for i in range(1,num+1):
    sum = sum +i
print(sum)

1

In [13]:
## sum of n natural number

num = int(input("enter the number"))
sum = 0
var = 1
while var<num+1:
    sum = var+sum
    var=var+1
print(sum)

1

In [14]:
## prime number range including start and last number

num1 = int(input())
num2 = int(input())
for i in range(num1, num2):
    if(i>1):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

####LIST
List are ordered mutable collection of items\n
they can contains items of different datatypes

In [15]:
######CREATING THE LIST   LISTNAME = []
student =["harsh","baghel", 2200321540037, "kc block","cseds" , "ABES"]
print(type(student))
print(student)

<class 'list'>
['harsh', 'baghel', 2200321540037, 'kc block', 'cseds', 'ABES']

In [16]:
######ACCESSING THE LIST   LISTNAME = [INDEX]
student =["harsh","baghel", 2200321540037]
print(type(student))
print(student[2])

<class 'list'>
2200321540037

In [17]:
### MODIFYING THE LIST
student[0]= "arnav"
print(student)

['arnav', 'baghel', 2200321540037]

In [18]:
##LIST METHOD
# append add the element in the end
student.append("ABES")
print(student)

['arnav', 'baghel', 2200321540037, 'ABES']

In [19]:
#insert the element at any particular index
student.insert(2,"kc block")
print(student)

['arnav', 'baghel', 'kc block', 2200321540037, 'ABES']

In [20]:
#remove the element first occurance of an element
student.remove("ABES")
print(student)

['arnav', 'baghel', 'kc block', 2200321540037]

In [21]:
#remove and return the last element
student={1,2,3,4,5,6,7,8}
popstudent=student.pop()
print(popstudent)
print(student)

1
{2, 3, 4, 5, 6, 7, 8}

In [22]:
# for getting the idex of any value
index= student.index(2200321540037)
print(index)

AttributeError: 'set' object has no attribute 'index'

In [ ]:
#add and count the element
student.insert(1, "harsh")
count=student.count("harsh")
print(count)
print(student)

4
['harsh', 'harsh', 'harsh', 'harsh', 'baghel', 2200321540037, 'kc block', 'cseds']

In [ ]:
#sort and reverse the List
# student.remove(2200321540037)
student.sort()
print(student)
student.reverse()
print(student)

['baghel', 'cseds', 'harsh', 'harsh', 'harsh', 'harsh', 'kc block']
['kc block', 'harsh', 'harsh', 'harsh', 'harsh', 'cseds', 'baghel']

In [ ]:
student.clear

SLICING THE LIST

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
print(num[2:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

#3,4,5
#1,2,3,4,5
#6,7,8,9,10
#1,3,5,7,9

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
for i in num :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
hlo = set([1,2,1,3,4])
print(type(hlo))
print(hlo)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
 #create
set ={1,2,3,4}
print(type(set))

#or

<class 'dict'>

#####DICTIONARIES

In [ ]:
student={"fname":"harsh", "lname":"baghel","age":22,"college":"abesec","branch":"me"}
print(student)

{'fname': 'harsh', 'lname': 'baghel', 'age': 22, 'college': 'abesec', 'branch': 'me'}

In [ ]:
#different methods
#for accesiing all the keys
keysss=student.keys()
print(keysss)
valuesss=student.values()
print(valuesss)
itemsss=student.items()
print(itemsss)

dict_keys(['fname', 'lname', 'age', 'college', 'branch'])
dict_values(['harsh', 'baghel', 22, 'abesec', 'me'])
dict_items([('fname', 'harsh'), ('lname', 'baghel'), ('age', 22), ('college', 'abesec'), ('branch', 'me')])

In [29]:
num = [1,2,1,2,1,2,2,1,2,3,4,5,4,4,4,5,5,5,5,6]
frequency={}
for number in num:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)
print(type(frequency))
print(len(num))

{1: 4, 2: 5, 3: 1, 4: 4, 5: 5, 6: 1}
<class 'dict'>
20

TUPLES